@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif, Arial;
    font-size: 18px;
}


:root {
    --red: #e30512;
    --dark-blue: #1d3fbb;
    --yellow: #ffbe00;
    --orange: #ff651a;
    --turquoise: #00c1b5;
    --pink: #ff608c;
    --white: #ffffff;
}

.logo img {
    width: 260px;
    height: 29px;
    margin: 20px 0 0 20px;
    position: fixed;
}


section {
    width: 100%;
    height: 100vh;
}

/* .container {
    max-width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    place-items: center;
} */

.container,
.slider {
    max-width: 100%;
    height: 100vh;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}


.slider {
    display: grid;
    justify-content: center;
}

.slider {
    scroll-snap-align: start;
}


img {
    width: 420px;
    height: 532px;
    margin-top: 6rem;
}

.img-container p{
    text-align: center;
    padding: 7px;
    font-size: 16px;
}

.img-container p a {
    color: rgb(151, 77, 219);
}

.email {
    position: fixed;
    top: 32px;
    right: 30px;
}

.links a {
    color: #000;
}

.menu-items {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    list-style-type: none;
}

ul li {
    padding: 4px;
}

li a {
    color: #000;
}

.description {
    width: 300px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.description a {
    color: #000;
}

.description span {
    font-size: 12px;
    line-height: 25px;
    color: #251d20;
}



/* Backgrouns */


#section-7 {
    background-color: var(--pink);
}

#section-6 {
    background-color: var(--white);
}

#section-5 {
    background-color: var(--turquoise);
}

#section-4 {
    background-color: var(--orange);
}

#section-3 {
    background-color: var(--yellow);
}

#section-2 {
    background-color: var(--dark-blue);
}

#section-1 {
    background-color: var(--red);
}


